body, html{
   width: 100%;
   height: 100%;
   font-family: 'Montserrat', sans-serif;
   background: url(https://article.images.consumerreports.org/f_auto/prod/content/dam/CRO%20Images%202019/Electronics/05May/CR-Electronics-InlineHero-MacBook-Update-05-19-v3) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h2{
	color:white;
	font-size:3rem;
	font-weight: bold;

}
.buffer{
	height:10rem;
}
hr{
	width:60px;
	border-color:red;
	border-width:3px;
}
.btn{
	font-weight: 700;
	border-radius:40px;
	text-transform: uppercase;
}
.btn-xl{
	padding:1rem 2rem;
}
.btn-primary{
	background-color: red;
	border-color:red;

}
.btn-primary:hover{
	background-color:red;
	border-color:red;
	border-width:4px;
}